<h3>Navigation Links</h3>
<ul id="nav_links">
    <li><%= link_to 'Upgrades Index', '/upgrades' %></li>
    <li><%= link_to 'Cars Index', '/cars' %></li>
    <li><%= link_to 'New Car', '/cars/new' %></li>
</ul>

<h1>Welcome!</h1>
<p>Below is the make name of each car record below:</p>


<% @cars.each_with_index do |car, index| %>
<div id="car-<%= index%>">
<ul>
    <li><%= car.brand_of_car %></li>
        <ul>
            <li>Created at: <%= car.created_at %></li>
            <li><%= link_to "Click Here To Edit This #{car.brand_of_car} ", "/cars/#{car.id}/edit"%></li>
            <li><%= link_to "Click Here To Delete This #{car.brand_of_car} ", "/cars/#{car.id}", method: :delete %></li>
        </ul>
    </ul>
</div>
<% end %>
