<h3>Navigation Links</h3>
<ul id="nav_links">
    <li><%= link_to 'Upgrades Index', '/upgrades' %></li>
    <li><%= link_to 'Cars Index', '/cars' %></li>
</ul>

<h1>Welcome!</h1>
<p>Below is the make name of each car record below:</p>


<% @cars.each_with_index do |car, index| %>
<div id="car-<%= index%>">
<ul>
    <li><%= car.brand_of_car %></li>
        <ul>
            <li>Created at: <%= car.created_at %></li>
        </ul>
    </ul>
</div>
<% end %>
