<h1><%= @car.brand_of_car %></h1>
<ul>
    <li>"Model: <%= @car.what_line_of_car %>"</li>
    <li>"Year: <%= @car.year %>"</li>
    <li>"Is it used?: <%= @car.is_used %>"</li>
    <li>"This record created at:  <%= @car.created_at %>"</li>
    <li>"This record last updated at:  <%= @car.updated_at %>"</li>
</ul>