<h3>Navigation Links</h3>
<ul id="nav_links">
    <li><%= link_to 'Upgrades Index', '/upgrades' %></li>
    <li><%= link_to 'Cars Index', '/cars' %></li>
    <li><%= link_to 'This cars upgrades index', "/cars/#{@car.id}/upgrades" %></li>
</ul>

<h1><%= @car.brand_of_car %></h1>
<ul>
    <li>"Model: <%= @car.what_line_of_car %>"</li>
    <li>"Year: <%= @car.year %>"</li>
    <li>"Is it used?: <%= @car.is_used %>"</li>
    <li>"This car has <%= @car.upgrade_count %> upgrades"</li>
</ul>